/* =========================
   IMPORTS
   ========================= */
@import "./variables.css";
@import "./reset.css";
@import "./fonts.css";

/* =========================
  ABOUT 
   ========================= */
body {
  overflow-y: auto;
}

/* =========================
  ABOUT CONTAINER
   ========================= */
.about-info {
  overflow: scroll;
}

.about-container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 5% 15%;
  text-align: justify;
  padding-top: 40%;
  line-height: 1.1;
  margin-bottom: 50%;
}

.div1 {
  transform: rotate(-12deg);
}

.div2 {
  transform: rotate(12deg);
}

.div3 {
  transform: rotate(-10deg);
}

.div1,
.div2,
.div3 {
  grid-column: unset;
  grid-row: unset;
  /* opacity 0 para que ScrollTrigger la controle */
  opacity: 1;
}

/* =========================
   FOOTER
   ========================= */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-primary);
  color: var(--font-secondary);

  position: absolute;
  bottom: 0;
  width: 100%;

  .footer-info {
    bottom: 0;
    width: 100%;

    color: var(--color-secondary);

    font-family: var(--font-secondary);
    font-size: 1.1rem;
    text-transform: uppercase;
    text-align: justify;
    line-height: 1;
  }
}

/* =========================
   MEDIA QUERIES
   ========================= */
@media (min-width: 768px) {
  .about-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
    margin: 0;

    padding: 10%;

    line-height: 100%;
    font-size: 1.3em;
    text-align: justify;
  }

  .div1 {
    grid-row: span 5 / span 5;
    transform: rotate(-12deg);
  }

  .div2 {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 2;
    transform: rotate(12deg);
  }

  .div3 {
    grid-row: span 3 / span 3;
    grid-column-start: 6;
    grid-row-start: 3;
    transform: rotate(-12deg);
  }

  footer {
    height: 90px;

    .footer-info {
      padding: 0 10%;
      font-size: 1.6rem;
    }
  }
}
