/* =========================
   IMPORTS
   ========================= */
@import "./variables.css";
@import "./reset.css";
@import "./fonts.css";

/* =========================
  ABOUT CONTAINER
   ========================= */

body {
  background-color: var(--color-secondary);
}

.about-info {
  overflow: scroll;
}

.about-container {
  width: 65%;
  height: auto;
  margin-bottom: 20%;
  p {
    font-size: 4vh;
    text-align: justify;
    font-weight: 800;
    line-height: 0.8;
  }
}
/* =========================
   FOOTER
   ========================= */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-primary);
  color: var(--font-secondary);

  position: fixed;
  bottom: 0;
  width: 100%;

  .footer-info {
    bottom: 0;
    width: 100%;

    color: var(--color-secondary);

    font-family: var(--font-secondary);
    font-size: 1.1rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: justify;
    line-height: 1;
  }
}

/* =========================
   MEDIA QUERIES
   ========================= */
@media (min-width: 768px) {
  .about-container {
    width: 85%;
    height: 100vh;
    margin-bottom: 0;

    p {
      font-size: 5.5vh;
    }
  }

  footer {
    height: 90px;

    .footer-info {
      padding: 0 10%;
      font-size: 1.6rem;
    }
  }
}
