/* =========================
   IMPORTS
   ========================= */
@import "./variables.css";
@import "./reset.css";
@import "./fonts.css";

body {
  overflow-y: auto;
  overflow-x: hidden;
}

main {
  overflow-y: auto;
  overflow-x: hidden;
  height: auto;
  box-sizing: border-box;
}

.main-container {
  overflow: scroll;
  height: 100%;
}

.artist-01-container {
  /* Esto es lo que me estaba dando problema para el foookin scroll
  height: 100%; */
}
.info-quote-container {
  transform: rotate(-12deg);
  padding: 2rem;
  box-sizing: border-box;
}

.interview-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sticky-img {
  min-width: 80px;
  max-width: 150px;
}

.artist-01-container {
  margin-top: 40%;
}

/* =========================
   MEDIA QUERIES
   ========================= */
@media (min-width: 768px) {
  .artist-01-container {
    margin-top: 2%;
  }
}
