/* ------ ------------------
   FUENTES
   ------------------ ------ */

/* DM SANS - Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

/* GARAMOND CONDENSED - Local */
@font-face {
  font-family: "Garamond-Condensed";
  src:
    url("../assets/fonts/Garamond_condensed.woff2") format("woff2"),
    url("../assets/fonts/Garamond_condensed.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
}
