/* =========================
   IMPORTS
   ========================= */
@import "./variables.css";
@import "./reset.css";
@import "./fonts.css";

/* =========================
   MAIN CSS
   ========================= */
* {
  font-family: var(--font-main);
  letter-spacing: -5%;
}

/* =========================
   BODY
   ========================= */
html,
body {
  cursor: none;
  overflow-y: auto;
  overflow-x: hidden;
  min-height: 100dvh; /* dvh en vez de vh */
  /* color del pulgar | color del riel */
  scrollbar-color: var(--color-secondary);
  scrollbar-width: thin; /* Hace la barra más delgada */
  /* background-color: var(--color-secondary); */
}

body {
  touch-action: auto;
}

/* SVG WRAPPER */
.svg-wrapper {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
  overflow: visible;
  transform: rotate(-90deg);
}

.svg-wrapper svg {
  position: absolute;
  width: 200%;
  flex-shrink: 0;

  path {
    fill: var(--color-primary);
  }
}

@media (min-width: 768px) {
  .svg-wrapper {
    transform: rotate(0deg);
  }
}

/* =========================
   HOST (marquee)
   ========================= */
.host-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  overflow: hidden;
  background-color: var(--color-primary);
  color: var(--color-secondary);
  display: block;
  z-index: 3;
}

.host-marquee {
  display: flex;
  align-items: center;
  width: max-content;
  gap: 2rem;
  animation: host-scroll 20s linear infinite;
  will-change: transform;
  padding-top: 5px;
}

.host-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex: 0 0 auto;
  padding-right: 2rem;
}

.host-img-cont {
  width: 60px;
  align-items: center;
  flex: 0 0 60px;
}

.host-img-cont img {
  border: 1px solid var(--color-secondary);
  border-radius: 50%;
  width: 80%;
  display: block;
}

.host-container p {
  font-family: var(--font-secondary);
  text-transform: uppercase;
  font-size: 1.5rem;
  white-space: nowrap;
  margin: 0;
}

/* =========================
   ANIMATIONS
   ========================= */
@keyframes host-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
