:root {
  /* ==== COLORS ==== */
  --color-primary: #000000;
  --color-secondary: #ffffff;

  /* ==== FONTS ==== */
  --font-main: "DM-Sans", sans-serif;
  --font-secondary: "Garamond-Condensed", serif;

  /* ==== SPACING ==== */
  --spacing-xsmall: 4px;
  --spacing-small: 8px;
  --spacing-medium: 16px;
  --spacing-large: 32px;
  --spacing-xlarge: 64px;
  --spacing-xxlarge: 128px;
}
