:root {
  /* ==== COLORS ==== */
  --color-primary: #1e1e1e;
  --color-secondary: #f2f2f2;

  /* ==== FONTS ==== */
  --font-main: "DM-Sans", sans-serif;
  --font-secondary: "Garamond-Condensed", serif;

  /* ==== SPACING ==== */
  --spacing-xsmall: 4px;
  --spacing-small: 8px;
  --spacing-medium: 16px;
  --spacing-large: 32px;
  --spacing-xlarge: 64px;
  --spacing-xxlarge: 128px;
}
