:root {
  /* ==== COLORS ==== */
  --color-primary: #000000;
  --color-secondary: #ffffff;

  /* ==== FONTS ==== */
  --font-main: "DM-Sans", sans-serif;
  --font-secondary: "Garamond-Condensed", serif;

  /* ==== SPACING ==== */
  --spacing-xsmall: 4px;
  --spacing-small: 8px;
  --spacing-medium: 16px;
  --spacing-large: 32px;
  --spacing-xlarge: 64px;
  --spacing-xxlarge: 128px;

  /* ==== CALL TO GENERAL STYLES ==== */

  /* -- Artist names -- */
  .artist-name {
    font-size: 0.9rem;
    font-weight: 300;
  }

  /* -- Quotes -- */
  .quote-font {
    font-family: var(--font-secondary);
    font-size: 2rem;

    text-transform: uppercase;
    text-align: justify;
    line-height: 1;
  }

  /* -- Interviewer info */
  .interviewer-info {
    font-size: 0.8rem;
    text-align: center;
    padding: 1rem;
    text-transform: uppercase;
    font-weight: 400;
    font-style: italic;
    padding-top: 2rem;
  }

  /* -- Links to profiles -- */
  .links-profiles {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-transform: uppercase;
    padding-bottom: 2rem;
  }

  .menu-logo a {
    background-color: transparent;
  }

  /* -- Rotation -- */
  .el-rot-pos {
    transform: rotate(-12deg);
  }

  /* -- Text longs -- */
  .text-long-intro {
    padding: 1.8rem;
    font-size: 1rem;
    text-align: center;
    line-height: 1.1;
  }
  .text-long-paragraph {
    padding: 0.5rem 0.7rem 2rem 0.7rem;
    font-size: 1rem;
    text-align: justify;
    line-height: 1.1;
    z-index: 10;
  }

  /* -- Questions -- */
  .text-question {
    font-family: var(--font-secondary);
    text-transform: uppercase;
    line-height: 1;
    text-align: justify;
    padding: 1.5rem 0 0.2rem 0;

    z-index: 10;
  }

  /* -- Img artist -- */
  .img-artist {
    width: 100%;
  }

  /* -- Italics -- */
  .italic {
    font-style: italic;
  }

  /* -- BG colors -- */
  .black-bg {
    color: var(--color-secondary);
  }

  /* -- Interaction Advise -- */
  .interaction-container {
    background-color: var(--color-primary);
    color: var(--color-secondary);
    position: absolute;
    bottom: 0;
    z-index: 10;
    align-content: center;

    h2 {
      font-family: var(--font-secondary);
      font-size: 1.3rem;
      line-height: 1;
      text-align: center;
    }
  }
}
